# dependencies
node_modules

# next
.next
out

# production
build
dist

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# backup database (berisi PII & password hash)
backups/

# prisma
prisma/dev.db
prisma/*.db


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# tests
coverage/
npm-audit*.json

# system
.DS_Store
Thumbs.db
